* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  border-radius: 50%;
  margin-bottom: 50px;
  border: 1vh solid #232d3622
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  padding:  6vh;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
